.addGameForm {
    margin-bottom: 20px;
}

.input {
    width: 220px;
}

.form {
    margin-left: -35px;
}

.addGamePaper {
    margin: auto;
    width: 940px;
}

.title {
    padding-top: 10px;
    padding-left: 15px;
}

.editBtn {
    padding-bottom: 5px;
}