.editTeamPaper {
    margin-top: 58px;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}

.saveEditTeam {
    padding-bottom: 5px;
}

/* .imageFileSource {
    padding-right: 440px;
} */